svg .node {
    stroke: black;
    stroke-width: 1;
    fill: white;
    fill-opacity: 0.2;
}

svg .node.cons {
    fill: green;
}

svg .node.head {
    fill: blue;
}

svg .node.tail {
    fill: red;
}

svg .edge {
    stroke: grey;
    stroke-width: 1;
}

.buttons {
    display: block;
}

button {
    margin: 1px;
}

.sidebar {
    padding: 5px;
    background: black;
    color: white;
    border-right: 2px ridge grey;
    height: 100%;
    padding-bottom: 400%;
    margin-bottom: -400%;
}

.sidebar button {
    font-size: 0.8em;
}

input[type=number] {
    width: 36px;
}

.sidebar input,
.sidebar select {
    color: black;
}

.pure-container {
    width: 1024px;
}

.code-snippet {
    padding: 10px;
}

code {
    border-radius: 15px;
    border: 1px solid grey;
}